version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "yearly"
    groups:
      android:
        patterns:
          - "*android*"
          - "android*"
          - "*android"
